{% block body %}
{% trans_default_domain 'FOSUserBundle' %}


<div class="products ">

    <div class="container ui centered grid">
        <div class="row">
            <div class="col-xl-6">

                <div class="html ui top attached segment">
                    {% if error %}
                        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <form class="ui form" action="{{ path("fos_user_security_check") }}" method="post">
                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <div class="field">
                            <label for="username">{{ 'security.login.username'|trans }}</label>
                            <input placeholder="Nom" type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" />
                        </div>
                        <div class="field">
                            <label for="password">{{ 'security.login.password'|trans }}</label>
                            <input placeholder="Mot de Passe" type="password" id="password" name="_password" required="required" autocomplete="current-password" />
                        </div>
                        <div class="field">
                            <div class="ui checkbox">
                            <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                            </div>
                        </div>
                        <input class="ui button" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                    </form>
                </div>
		  
            </div>
        </div>
    </div>
</div>

{% endblock %}