{% extends 'base.html.twig' %}
{% block title %}RoroLaBrocante -  {{ controller_name }}{% endblock %}
{% block body %}

<div class="super_container">

	<div class="super_container_inner">
		<div class="super_overlay"></div>
        <div class="products">

            

            <div class="container double">
                <div class="box">

                    <div class="ui grid">
                        <div class="left floated six wide column" style="margin-left: 60px;">
                            <div class="ui segment" style="margin-bottom: 10px; background: #414141;">
                                <h3 style="text-align: center; color: white;">Recapitulatif de la commande</h3>
                            </div>
                            <div class="ui segment" style="margin-bottom: 10px">

                                <div class="ui form">
                                    
                                    {% set totalPrix = 0 %}
                                    {% for article in articlesPanier %}
                                    {% set totalPrix = totalPrix + article.prix %}
                                    <div style="text-align: center; padding-bottom: 5%;">
                                        <div>
                                            <img src="{{ article.image }}" alt="" width="40%" height="40%">
                                        </div>
                                        <div>
                                            <p>{{ article.titre }}</p>
                                            <span>Prix : </span>{{ article.prix }}€
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <spam>Total : {{ totalPrix }}€</spam>

                                </div>                          
                            </div>
                        </div>
                        <div class="right floated six wide column" style="margin-right: 60px;">
                            <div class="ui segment" style="margin-bottom: 10px; background: #414141;">
                                <h3 style="text-align: center; center; color: white;">Information Générales</h3>
                            </div>
                            <div class="ui segment" style="margin-bottom: 10px">
                                <label style="color: black;">Civil :</label><br /><br />
                                 <p> 
                                    Nom : {{ infoCivil.nom }} <br />
                                    Prenom :  {{ infoCivil.prenom }} <br />
                                    Tel : {{ infoCivil.numTel }} <br />
                                    Email : {{ infoCivil.email }} <br />
                                </p><br />
                                <label style="color: black;">Livraison :</label><br /><br />
                                <p> 
                                    Adresse de livraison : {{ infoLivraison.adresse }} <br />
                                    Ville :  {{ infoLivraison.ville }} {{ infoLivraison.pays }} <br />
                                    Code Postal : {{ infoLivraison.codePostal }} <br />
                                </p><br />
                                <label style="color: black;">Mode de Livraison : {{ modeLivraison.mode }}</label><br /><br />
                                <p> 
                                    Prix : {{ modeLivraison.prix }} <br />
                                    {% set totalPrix = totalPrix + modeLivraison.prix %}
                                </p><br />
                                <label style="color: black;">Mode de Payement : {{ modePayement.libelle }}</label><br /><br />
                                <label style="color: black;">Total : {{ totalPrix }}€</label><br /><br />
                                <div class="ui checkbox">
                                </div>
                                <div> 
                                    <a href="{{ path('paypal_valider') }}"><input class="ui button" type="submit" id="modifier" value="Valider"/></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}