{% extends 'base.html.twig' %}
{% block title %}RoroLaBrocante - {{ controller_name }}{% endblock %}
{% block body %}


<div class="super_container">
	<div class="super_container_inner">
		<div class="super_overlay"></div>

		<!-- Products -->
		<div class="products">
			<div class="container">
				<div class="row products_bar_row">
					<div class="col">
						<div class="products_bar d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-start justify-content-center">
							<div class="products_bar_links">
								<!-- Categorie nav -->
								<ul class="d-flex flex-row align-items-start justify-content-start">
									<li><a href="{{ path('produit') }}">Tout</a></li>
									{% for cate in categories %} 
									<li><a href="{{ path('produit', {"idcate": cate.id}) }}">{{ cate.libelle }}</a></li>
									{% endfor %}
									
								</ul>
							</div>
							<div class="products_bar_side d-flex flex-row align-items-center justify-content-start ml-lg-auto">
								<div class="products_dropdown product_dropdown_sorting">
									<div class="isotope_sorting_text">
                                        <span>Trier</span><i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
									<ul>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "asc" }'>Default</li>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "prix" }'>Prix</li>
										<li class="item_sorting_btn" data-isotope-option='{ "sortBy": "nom" }'>Nom</li>
									</ul>
								</div>
								<div class="products_dropdown text-right product_dropdown_filter">
									<div class="isotope_filter_text">
                                        <span>Filtre</span><i class="fa fa-caret-down" aria-hidden="true"></i>
                                    </div>
									<ul>
										<li class="item_filter_btn" data-filter="*">Aucun</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row products_row products_container grid">
                         
					<!-- BDD Products -->
                    {% for produit in produit %}                       
                    <div class="col-xl-4 col-md-6 grid-item hot">
                        <div class="product">
                            <div>
                                <img src="{{ produit.image }}" alt="" width="350" height="350">
                            </div>
                            <div class="product_content">
                                <div class="product_info d-flex flex-row align-items-start justify-content-start">
                                    <div>
                                        <div>
                                            <div class="product_name">
                                                <a href="{{ path('article',{'id': produit.id}) }}">{{ produit.titre }}</a>
                                            </div>
                                            <div class="product_category" style="color: black;">{{ produit.description | raw }}</div>
                                        </div>
                                    </div>
                                    <div class="ml-auto text-right">
                                        <div class="product_price text-right"><span>{{ produit.prix }} €</span></div>
                                    </div>
                                </div>        
                            </div>
                        </div>
                    </div>      
                    {% endfor %}

				</div> 
			</div>
		</div>
	</div>	
</div>

{% endblock %}
